<!DOCTYPE html>
<html lang="en">

<head>
<!-- CSS2 -->
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Cycle</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css2/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css2/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css2/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css2/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets --> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicons -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <!-- Fontawesome css -->
        <link rel="stylesheet" href="css2/font-awesome.min.css">
        <!-- Animate css -->
        <link rel="stylesheet" href="css2/animate.css">
        <!-- Material Design Iconic Font css -->
        <link rel="stylesheet" href="css2/material-design-iconic-font.min.css">
        <!-- Themify Icon css -->
        <link rel="stylesheet" href="css2/themify-icons.css">
        <!-- Stroke Gap Icon css -->
         <link rel="stylesheet" href="css2/stroke-gap.css">
        <!-- Nice select css -->
        <link rel="stylesheet" href="css2/nice-select.css">
        <!-- Jquery fancybox css -->
        <link rel="stylesheet" href="css2/jquery.fancybox.css">
        <!-- Jquery ui price slider css -->
        <link rel="stylesheet" href="css2/jquery-ui.min.css">
        <!-- Meanmenu css -->
        <link rel="stylesheet" href="css2/meanmenu.min.css">
        <!-- Owl carousel css -->
        <link rel="stylesheet" href="css2/owl.carousel.min.css">
        <!-- Slick Slider css -->
        <link rel="stylesheet" href="css2/slick.css">
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="css2/bootstrap.min.css">
        <!-- Custom css -->
        <link rel="stylesheet" href="css2/default.css">
        <!-- Main css -->
        <link rel="stylesheet" href="style.css">
        <!-- Responsive css -->
        <link rel="stylesheet" href="css2/responsive.css">
    
        <!-- Modernizer js -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>

<!-- CSS -->
          <!-- basic -->
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- mobile metas -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="viewport" content="initial-scale=1, maximum-scale=1">
          <!-- site metas -->
          <title>Cycle</title>
          <meta name="keywords" content="">
          <meta name="description" content="">
          <meta name="author" content="">
          <!-- bootstrap css -->
          <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
          <!-- style css -->
          <link rel="stylesheet" type="text/css" href="css/style.css">
          <!-- Responsive-->
          <link rel="stylesheet" href="css/responsive.css">
          <!-- fevicon -->
          <link rel="icon" href="images/fevicon.png" type="image/gif" />
          <!-- Scrollbar Custom CSS -->
          <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
          <!-- Tweaks for older IEs-->
          <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
          <!-- owl stylesheets --> 
          <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="css/owl.carousel.min.css">
          <link rel="stylesoeet" href="css/owl.theme.default.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
 </head>

<body style="background-color: #274d5a;" ng-app="">
      <!-- header section start -->
      <div class="header_section header_bg">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <a href="index.html" class="logo"><img src="images/logo.png"></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="brandnew.html">Brand New Cars</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="usedcars.html">Used Cars</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="news.html">News</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                 </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                 <div class="login_menu">
                    <ul>
                       <li><a href="login.html">Login</a></li>
                       <li><a href="#"><img src="images/trolly-icon.png"></a></li>
                       <li><a href="#"><img src="images/search-icon.png"></a></li>
                    </ul>
                 </div>
                 <div></div>
              </form>
           </div>
           <div id="main">
              <span style="font-size:36px;cursor:pointer; color: #fff" onclick="openNav()"><img src="images/toggle-icon.png" style="height: 30px;"></span>
           </div>
        </nav>
     <!-- header section end -->
<br>
<br>
        <!-- Login Page Start Here -->
        <div class="login ptb-80" ng-hide="showRegister">
            <div class="container">
              <h3 class="login-header" style="text-align: center; color:white; font-size: 40px;">YLE Wheels Club</h3>
               <div class="row">
                   <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">
                        <div class="login-form">
                           <form method="POST" class="loginForm" id="loginForm" name="loginForm" oninput="return(validateAccount());" onsubmit="return(validateLogin());">
                                <div class="form-group row">
                                    <label for="username" class="col-sm-3 col-form-label">Username</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="username" placeholder="Username" oninput="return(validateAccount());">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" id="password" placeholder="Password" oninput="return(validateAccount());">
                                        <button class="btn show-btn" type="button">Show</button>
                                    </div>
                                </div>
                                <div class="login-details text-center mb-25">
                                    <a href="#">Forgot your password? </a>
                                    <button type="submit" class="login-btn" name="login" id="login" value="login" onsubmit="return(validateLogin());" disabled>Sign in</button>
                                </div>
                                <div class="login-footer text-center">
                                    <p>No account? <a href="#" ng-click="showRegister = true"><u>Create one here</u></a></p>
                                </div>
                            </form>
                        </div>
                   </div>
               </div>
            </div>
        </div>
        <!-- Login Page End Here -->
    
                <!-- Register Page Start Here -->
                <div class="register-area ptb-80" ng-show="showRegister">
                  <div class="container">
                    <h3 class="login-header" style="text-align: center; color:white; font-size: 40px;">Create an account </h3>
                      <div class="row">
                          <div class="offset-xl-1 col-xl-10">
                                <div class="register-form login-form clearfix">
                                    <form method="POST" ng-app="" id="registerForm" name="registerForm" oninput="return(validateRegister());" onsubmit="return(validate());">
                                        <div class="form-group row">
                                            <label for="firstname" class="col-lg-3 col-md-3 col-form-label">First Name<label style="color:red;">*</label></label>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="text" class="form-control" name="firstname" id="firstname" oninput="return(validateFirstname());"required>
                                                <div class="error" id="fnameErr" style="color:red;"></div>
                                            </div>
                                        </div>
                                         <div class="form-group row">
                                            <label for="lastname" class="col-lg-3 col-md-3 col-form-label">Last Name<label style="color:red;">*</label></label>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="text" class="form-control" name="lastname" id="lastname" oninput="return(validateLastname());" required>
                                                <div class="error" id="lnameErr" style="color:red;"></div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email" class="col-lg-3 col-md-3 col-form-label">Email<label style="color:red;">*</label></label>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="email" class="form-control" name="email" id="email" oninput="return(validateEmail());" required>
                                                <div class="error" id="emailErr" style="color:red;"></div>
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label for="username" class="col-lg-3 col-md-3 col-form-label">Username<label style="color:red;">*</label></label>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="text" class="form-control" name="username" id="username" oninput="return(validateUsername());" required>
                                                <div class="error" id="userErr" style="color:red;"></div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-lg-3 col-md-3 col-form-label">Password<label style="color:red;">*</label></label>
                                            <div class="col-lg-6 col-md-6">
                                                <input type="password" class="form-control" name="password" id="password" oninput="return(validatePassword());" required>
                                                <div class="error" id="passErr" style="color:red;"></div>
                                                <button class="btn show-btn" type="button">Show</button>
                                            </div>
                                        </div>
                                        <div class="form-check row p-0 mt-20">
                                            <div class="col-md-6 offset-md-3">
                                                <input class="form-check-input" value="#" id="offer" type="checkbox">
                                                <label class="form-check-label" for="offer">Receive offers from our partners</label>
                                            </div>
                                        </div>
                                        <div class="form-check row p-0 mt-20">
                                            <div class="col-md-8 offset-md-3">
                                                <input class="form-check-input" value="#" id="subscribe" type="checkbox">
                                                <label class="form-check-label" for="subscribe">Sign up for our newsletter<br>*Subscribe to our newsletters now and stay up-to-date with new collections, the latest lookbooks and exclusive offers..</label>
                                            </div>
                                        </div>
                                        <div class="register-box mt-40">
                                            <button type="submit" value="register" name="register" id="register" class="login-btn float-right" ng-click="showRegister = false" disabled>Register</button>
                                        </div>
                                        <div class="login-footer" style="margin-top: -10px; margin-left: -20px;">
                                          <p>Already have an account? <a href="#" ng-click="showRegister = false"><u> Log in instead!</u></a></p>
                                      </div>
                                    </form>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
                <!-- Register Page End Here -->

    </div>
    <!-- Main Wrapper End Here -->

      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
           document.getElementById("main").style.marginLeft = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
          
         }

         $("#main").click(function(){
             $("#navbarSupportedContent").toggleClass("nav-normal")
         })
      </script>
      <script type="text/javascript" src="js/validation.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</html>